* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bluLine {
  background-color: #0282f9;
  padding: 10px 0px;
}
.bluLine div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.bluLine div p {
  text-transform: uppercase;
  color: white;
  margin-right: 15px;
}

.header {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  padding-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.header ul li {
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
}
.header ul li a {
  font-size: 0.7rem;
  color: black;
  text-decoration: none;
}
.header ul li:hover a {
  color: #0282f9;
}
.header ul li:hover .bar {
  background-color: #0282f9;
}
.header input {
  border: none;
  border-bottom: 2px solid #0282f9;
}

.bar {
  width: 100%;
  height: 5px;
}

.p-yb-30 {
  padding-bottom: 30px;
}

.jumbotron {
  width: 100%;
  height: 50vh;
  background-image: url("../../../images/jumbotron.jpg");
  background-size: cover;
  margin-bottom: -10px;
}

#container {
  background-color: #0282f9;
  padding: 30px 0;
}
#container ul {
  width: 70%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
#container ul li {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
#container ul li a {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#container ul li img {
  width: 50px;
  margin: 0 10px;
}