* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bluLine {
  background-color: #0282f9;
  padding: 10px 0px;
}
.bluLine div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.bluLine div p {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: white;
  margin-right: 15px;
}

.header {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  padding-top: 35px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.header ul li {
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
}
.header ul li a {
  font-size: 0.7rem;
  color: black;
  text-decoration: none;
}
.header ul li:hover a {
  color: #0282f9;
}
.header ul li:hover .bar {
  background-color: #0282f9;
}
.header input {
  border: none;
  border-bottom: 2px solid #0282f9;
}

.bar {
  width: 100%;
  height: 5px;
}

.p-yb-30 {
  padding-bottom: 30px;
}

.jumbotron {
  width: 100%;
  height: 50vh;
  background-image: url("../../../images/jumbotron.jpg");
  background-size: cover;
  margin-bottom: -10px;
}

#container {
  background-color: #0282f9;
  padding: 30px 0;
}
#container ul {
  width: 70%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
#container ul li {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
#container ul li a {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}
#container ul li img {
  width: 50px;
  margin: 0 10px;
}

#footerTop {
  width: 70%;
  margin: 0 auto;
  display: flex;
}
#footerTop div {
  margin-right: 50px;
}
#footerTop div ul {
  margin: 20px 0;
  list-style-type: none;
  text-align: left;
}
#footerTop div ul h3 {
  color: white;
  margin-bottom: 15px;
}
#footerTop div ul li {
  display: flex;
  flex-direction: column;
  color: grey;
  text-align: left;
}
#footerTop div ul li a {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
  margin-bottom: 5px;
}
#footerTop div ul li a:hover {
  text-decoration: underline;
}
#footerTop .bg-logo {
  width: 50%;
  background-image: url("../../../images/dc-logo-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#footerBottom {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
#footerBottom .button {
  border: 3px solid #0282f9;
  cursor: pointer;
}
#footerBottom .button div {
  text-transform: uppercase;
  padding: 10px;
  color: white;
}
#footerBottom .block-right {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
}
#footerBottom .block-right div {
  margin: 0 10px;
  cursor: pointer;
}
#footerBottom .block-right div span {
  font-weight: bold;
  text-transform: uppercase;
  color: #0282f9;
}

.footerTop {
  background-image: url("../../../images/footer-bg.jpg");
}

.footerBottom {
  background-color: #303030;
}

main {
  background-color: black;
}
main #comics {
  width: 70%;
  margin: 0 auto;
}
main #comics .contenitore {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
main #comics .contenitore .movie {
  width: calc(16.6666666667% - 10px);
  margin: 20px 5px;
}
main #comics .contenitore .movie .bg-movie {
  background-size: cover;
  width: 100%;
  aspect-ratio: 1;
  margin: 10px 0;
}
main #comics .contenitore .movie p {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}
main #comics .button {
  padding: 10px 50px;
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
}