#footerTop {
    width: 70%;
    margin: 0 auto;
    display: flex;

    div {
        margin-right: 50px;

        ul {
            margin: 20px 0;
            list-style-type: none;
            text-align: left;

            h3 {
                color: white;
                margin-bottom: 15px;
            }

            li {
                display: flex;
                flex-direction: column;
                color: grey;
                text-align: left;

                a {
                    text-decoration: none;
                    font-size: $f-small;
                    color: white;
                    margin-bottom: 5px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }

        }
    }

    .bg-logo {
        width: 50%;
        background-image: url('../../../images/dc-logo-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}
#footerBottom {
    width: 70%;
    margin: 0 auto;
    @include flex(row, space-between, center);
    padding: 20px 0;


    .button {
        border: 3px solid $blue;
        cursor: pointer;

        div {
            text-transform: uppercase;
            padding: 10px;
            color: white
        }
    }

    .block-right {
        @include flex(row, initial, center);

        div {
            margin: 0 10px;
            cursor: pointer;

            span {
                @include boldUppercase();
                color: $blue;
            }
        }
    }
}

.footerTop{
    background-image: url('../../../images/footer-bg.jpg')
}
.footerBottom{
    background-color: $footerBottom;
}